main {
    background-color: ghostwhite;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 10px;
}

section {
    background-color: rgb(216, 216, 216, 0.5);
    border: 1px solid rgb(216, 216, 216, 0.5);
    border-radius: 5px;
    padding: 5px;
}

section>ul {
    font-style: italic;
}

.mainPhoto {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

@media (max-width: 670px) {
    .mainPhoto {
        display: none;
    }
}
